$red:#cc0b2a;
$yellow:#eba900;
$purple:#57517b;
$grey-warm:#6e6058;
$orange-muddy:#a85420;
$blue:#245e90;
$grey-cool:#767679;
$grey-light:#d7d7d7;
$grey-wash:#e6e6e6;
$brown:#764d27;
$teal:#00574A;
$tan:#c9a876;
$magenta:#881c40;
$green:#677e38;
$black:#000000;

//new variables for this practice folder//
$grey-shady:#A7A6A4;
$grey-whitey:#F4F4F4;
$doger-blue:#1E90FF;